<div class="card">
    <div class="row" style="margin: 0;">
      
      <div class="col-md-3 card-block <% if current_user==message.user %>pull-right<%else%>pull-left<%end%>">
        <p class="card-text">
          <span class="text-muted"><%= message.user.username %> at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
</div>