<% if @complaint.messages.first == message || @date != message.date %>
	<div class="date"><%= message.date %></div>
	<% @date = message.date %>
<% end %>
<div class="card">
    <div class="row" style="margin: 0;">
      
      <div class="card-block <% if current_user==message.user %>self<%else%>other<%end%>">
        <p class="card-text">
          <span class="stamp"><%= message.user.username %></span><br>
          <%= message.body %><br>
          <small class="pull-right"><%= message.timestamp %></small>
        </p>
      </div>
    </div>
</div>