<div class="page-header"><h1><%= @complaint.title %></h1></div>
<div id="messages" data-complaint-id="<%= @complaint.id %>">
	<%= render @complaint.messages %>
</div>

<form id="new_message" >
  <div class="form-group">
  	<div class="col-md-11">
    <input name="message_body" id="message_body" class="form-control" autofocus>
  	</div>
  	<div class="col-md-1">
  	<input type="submit" class="btn btn-primary" form="new_message" value="Submit">
  	</div>
  </div>
</form>