<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @caterer %> authorities,</p>
    <p>
	A complaint has been registered by one of the students as follows:    </p>
    <hr>
    <p>
    <b> <%= @title %> </b><br><br><q><%= @content %></q>	
    </p>
    <hr>
    <p>Please acknowledge this mail by replying to this thread! Kindly use <u>"Reply All"</u>.</p>
    <p>Sent from Mess Facilities Portal</p>
    <p>Contact us at <a href="mailto:institutewebops@gmail.com" target="_blank">institutewebops@gmail.com</a> for any queries or suggestions.</p>
  </body>
</html>
