<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
        <p>Dear <%= @name %>,</p>
    <p>
        A complaint has been registered by one of the students as follows:    </p>
    <hr>
    <p>
    <b> <%= @title %> </b><br><br><q><%= @content %></q>
    </p>
    <hr>
    <p>
    Please respond to it by visiting the post <a href='<%= @url %>' target="_blank">here</a> or downloading our app from <a href="https://play.google.com/store/apps/details?id=in.ac.iitm.students" target="_blank">Google Play Store</a>. Please take necessary actions.
    </p><p>Sent from Mess Facilities Portal</p>
    <p>Contact us at <a href="mailto:institutewebops@gmail.com" target="_blank">institutewebops@gmail.com</a> for any queries or suggestions.</p>
  </body>
</html>
