<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user %>!</h1>
    <p>
	A complaint was registered against <%= @category %>
    </p>
    <p>
    Please respond to it by visiting the post <a href='<%= @url %>'>here</a>.
    </p>
  </body>
</html>
