<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.upcase %>!</h1>
    <p>
	Your complaint registered successfully!
    </p>
    <p>
    You can follow all the updates to your post <a href='<%= @url %>'>here</a>.
    </p>
  </body>
</html>
