<%if logged_in? %>

  <div class="page-header">
    <h1>Already logged in!</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>Roll number:</strong> <%= session[:username] %></li>
        <li><strong>Name:</strong> <%= session[:fullname].titleize %></li>
        <li><img src="<%= session[:user_imageurl] %>"></li>
      </ul>
    </div>
  </div>

<%else%>
<%= link_to "sign in",  @auth_url %>
<%end%>